
body{
		margin: 0;
		padding: 0;
		background: url(front.jpg);
		background-size: cover;
		background-position: center;
		font-family: sans-serif;
}

.add_author{
		width: 350px;
		height: 480px;
		background: #000;
		color: #fff;
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%,-50%);
		box-sizing: border-box;
		padding: 70px 30px;
}


h1{
		margin: 0;
		padding: 0 0 20px;
		text-align: center;
		font-size: 22px;
}

.add_author p{
		margin: 0;
		padding: 0;
		font-weight: bold;
}

.add_author input{
		width: 100%;
		margin-bottom: 20px;
}
.add_author input[type="submit"]
{
		border: none;
		outline: none;
		height: 40px;
		background: #0000FF;
		color: #fff;
		font-size: 18px;
		border-radius: 20px;
}
.add_author input[type="submit"]:hover
{
		cursor: pointer;
		background: #ffc107;
		color: #000;
}
.add_author a{
		text-decoration: none;
		font-size: 12px;
		line-height: 20px;
		color: darkgrey;
}
.add_author a:hover
{
		color: #ffc107;
}
